.loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3rem;
}

.loading-container p {
  margin-top: 1rem;
  color: var(--primary-color);
  font-weight: 600;
}